$primary-color: #5742f1;
$secondary-color: #ced3dd;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: $secondary-color;
  color: #333;
}
header {
  background-color: $primary-color;
  padding: 15px;
  color: white;
}
.main-content {
  display: flex;
  padding: 15px;
  min-height: 100vh;
}
.sidebar {
  flex-basis: 250px;
  padding-left: 10px;
  .menu-container {
    .menu-header {
      margin-bottom: 5px;
      font-weight: 600;
    }
    .items {
      padding-left: 10px;
      margin-bottom: 10px;
    }
    .item {
      margin-bottom: 5px;
      cursor: pointer;
    }
  }
}
.task-container {
  flex-grow: 1;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  input,
  select,
  textarea {
    padding: 5px 10px;
    font-size: 16px;
    outline-color: $primary-color;
  }
  .task-head-title {
    padding: 10px;
    border: solid 1px $primary-color;
    border-radius: 5px;
  }
  .task-container-head {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 15px;
    .task-head-title {
      cursor: pointer;
    }
  }
}
.task-form {
  .input-container {
    display: flex;
    padding: 10px;
    input {
      flex-grow: 1;
    }
  }
  .task-lists {
    .task-list {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      // cursor: pointer;
      border-bottom: solid 1px lightgrey;
      .task-info {
        margin-left: auto;
        display: flex;
        gap: 10px;
        div {
          padding: 2.5px;
          border-radius: 5px;
          color: white;
        }
        .task-context {
          background-color: #7ad97a;
        }
        .due-date {
          background-color: #cd9e5f;
        }
        .given-to {
          background-color: cornflowerblue;
        }
      }
      .button-container {
        // margin-left: auto;
        button {
          margin-left: 10px;
        }
      }
    }
  }
}
.edit-bar {
  background-color: #ddd;
  min-height: 100vh;
  position: absolute;
  width: 500px;
  right: 0;
  top: 0;
  padding: 25px;
  z-index: 5;
  label {
    flex-basis: 30%;
  }
  input,
  textarea,
  select {
    width: 100%;
  }
  textarea {
    height: 100px;
  }
  .header {
    margin-bottom: 25px;
  }
  .task-item {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  .button-container {
    display: flex;
    gap: 10px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.btn-primary {
  padding: 7px 20px;
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
.btn-secondary {
  padding: 7px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}
